:root{
    --tamaño: 300 px;
}

section{
    border: 3px solid black;
    margin-bottom: 1rem;
    position:relative;
}

div{
    border: 5px solid red;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

section.grid{
    display: grid;
    gap:1rem;
    grid-template-columns: 1fr 1fr; /*con esto añadimos 2 columnas una de 100 y otra de 50*/
    grid-template-rows: 50px 100px 100px 200px; /*con esto añadimos 2 filas una de 100 y otra de 50*/

}