/*cards-desktop.jpg*/
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: White;
}

section{
    background:linear-gradient(rgb(161, 154, 154),rgb(228, 228, 238));
    border-radius: 2.5%;
}

.cabecera-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background: white;
    border-radius: 100%;
    margin-left: 20px;
}