/* Añadimos estilo a un elemento*/
section{
    background-color: white;
}
/* Añadimos estilo por el atributo id*/
#recipe{
    background-color: #9999ef;
    color: white;
    text-align: center;
}
/* Añadimos un estilo por clases*/
.importante{
    font-weight: bold;
}
