/* Añadimos estilo a un elemento*/
section{
    background-color: white;
}
/* Añadimos estilo por el atributo id*/
#recipe{
    background-color: #9999ef;
    color: white;
    border: 3px solid black;
    text-align: center;
}
table{
    border: inherit;
    color: initial;
}
ol{
    all:unset;
}
/* Añadimos un estilo por clases*/
.importante{
    font-weight: bold;
}
