:root{
    --intems-width:300px;
}

.flex{
    border: 3px solid black;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
}

.grid{
    border: 3px solid black;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto);
}


div{
    width: 20ch;
    height: 20ch;
    border: 5px solid red;
    margin: 1rem auto;
    font-size: 24px;
    text-align: center;
}