section.calculadora{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid rgb(211, 206, 198);
    width: 25%;
    height: 25%;
}

#pantalla{
    grid-column: span 4;
    color: white;
    text-align: right;
    font-size: 36px;
    background-color: lightslategray;
    border: inherit;
}

#suma{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    background-color: rgb(175, 175, 252);
}

#resta{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    background-color: rgb(175, 175, 252);
}

#multiplicacion{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    background-color: rgb(175, 175, 252);
}

#division{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    background-color: rgb(175, 175, 252);
}

#cero{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#uno{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#dos{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#tres{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#cuatro{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#cinco{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#seis{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#siete{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#ocho{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#nueve{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#punto{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#ac{
    grid-column: span 1;
    border: inherit;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    background-color: rgb(212, 212, 248);
}

#igual{
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    border: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    font-size: 36px;
    background-color: rgb(255, 125, 125);
}


