:root{
    --tamaño: 300 px;
}

section{
    border: 3px solid black;
    margin-bottom: 1rem;
    position:relative;
}

div{
    border: 5px solid red;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

section.grid{
    display: grid;
    gap:0.5rem;
    grid-template-columns: repeat(4,1fr); /*con esto añadimos 2 columnas una de 100 y otra de 50*/
    grid-template-rows: 50px 100px 100px 200px; /*con esto añadimos 2 filas una de 100 y otra de 50*/
    /*grid-template-areas: 
    "header header header header"
    "nav . content content"
    "nav . content content"
    "footer footer footer footer";
*/
}
/*
#header{
    grid-area:header;
}

#nav{
    grid-area:nav;
}

#content{
    grid-area: content;
}

#footer{
    grid-area:footer;
}
*/
#header{
    grid-column:span 4;
}

#nav{
    grid-row:span 2;
}

#content{
    grid-row:span 2;
    grid-column:span 3;
}

#footer{
    grid-column:span 4;
}