body{
    background-color: rgb(37, 35, 35);
}

main{
    display: flex;
    gap: 20px;
}


.hamburguesa-open button {
    background-color: rgb(87, 240, 87);
    border: none;
    cursor: pointer;
    padding: 0;
    width: 300px;
    height:300px;
}

.hamburguesa-open button span{
    display: block;
    border-radius: 5px;
    background: white;
    width: 60%;
    height: 30px;
    margin:5px auto;
}

.hamburguesa-close button {
    background-color: rgb(87, 240, 87);
    border: none;
    cursor: pointer;
    padding: 0;
    width: 300px;
    height:300px;
    margin-left: 20px;
}

.hamburguesa-close button .linea-superior{
    display: block;
    border-radius: 5px;
    background: white;
    width: 60%;
    height: 30px;
    margin:5px auto;
    rotate: -45deg;
}

.hamburguesa-close button .linea-baja{
    display: block;
    border-radius: 5px;
    background: white;
    width: 60%;
    height: 30px;
    margin:5px auto;
    rotate: 45deg;
}

